* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MuiContainer-root {
    margin-top: 50px;
}

.MuiGrid-root {
    display: flex;
    align-items: center;
    justify-content: center;
}